body {
    font-family: "Poppins", sans-serif;
    background-color: #f7f7f7;
    color: #222;
}

.navbar {
    background: #f7f7f7;
}

.navbar-brand,
.nav-link {
    color: black !important;
}

.navbar-brand:hover,
.nav-link:hover,
.dropdown-item:hover {
    color: #a31818 !important;
}

header {
    background-color: #1b6d3d;
    color: white;
    text-align: center;
    padding: 4rem 1rem;
}

header img {
    width: 110px;
    margin-bottom: 1rem;
}

section {
    padding: 3rem 1.5rem;
}

h2 {
    color: #0d2f1b;
    font-weight: 600;
    margin-bottom: 1rem;
}

footer {
    background-color: #0d2f1b;
    color: white;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.9rem;
}

.divider {
    width: 60px;
    height: 4px;
    background-color: #a31818;
    margin: 0.5rem auto 2rem;
    border-radius: 4px;
}