body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #217544, #173b25);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 40px rgba(228, 222, 222, 0.521);
  padding: 3.5rem 2.5rem;
  width: 100%;
  max-width: 500px; 
  transform: scale(1.03); 
  border: 3px solid #a31818;
}

.logo-cpa {
  width: 120px; 
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.8rem; 
}

.btn-cpa {
  background-color: #1c6e3e;
  color: #fff;
  border: none;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.9rem; 
  border-radius: 10px;
  transition: 0.3s;
}

.btn-cpa:hover {
  background-color: #184d2c;
}

.form-floating input {
  font-size: 1rem;
  padding: 1rem;
}

.forgot-link {
  color: #a31818;
  font-size: 0.95rem;
  text-decoration: none;
}

.forgot-link:hover {
  text-decoration: underline;
}
